/*********************
        Header
**********************/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: White;
    border-bottom: #cccccc solid 2px;
}

.nav ul{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav ul li a{
    text-decoration: none;
    color: #777777;
}

.bar{
    border-right: darkgray solid 1px;
    margin-right: 10px;
    padding-right: 10px;  
}

.logo{
    background: #cccccc;
    height: 100%;
    display: flex;
    align-items: center;
}

h1{
    margin: 0 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bolder;
}

/*********************
        Footer
**********************/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 50px;
    width: 100%;
    color: #777777;
    border-top: 8px solid #cccccc;
}

footer p{
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #777777;
}

/*********************
        About Me
**********************/

body{
    background: url(../images/darkness.png);
}

hr{
    border: #cccccc solid 1px;
    border-radius: 50%;
    width: 100%;
    margin-bottom: 20px;
}

.main{
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 50px);
}

.mainContent{
    background: #ffffff;
    border: #dddddd solid 1px;
    padding: 20px;
    width: 960px;
    height: 100%;
    margin: 40px auto 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2{
    margin: 20px 20px 20px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bolder;
    color: #777777;
}

#profile-pic{
    height: 250px;
    width: 250px;
    margin: 20px auto ;
    border-radius: 50%;
}

.aboutContent p{
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

/*********************
        contact
**********************/
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input{
    height: 30px;
}

button{
    width: 80px;
    height: 30px;
    background: #cccccc;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
/*********************
        Portfolio
**********************/
.portfolioContent{
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}

.work-img{
    width: 300px;
    height: 200px;
}

h3{
    height: 50px;
    background: #cccccc;
    position: relative;
    bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .portfolioContent{
        width: 50%;
    }
  }